{% extends 'base.html.twig' %}

{% block title %}SimNumber index{% endblock %}

{% block body %}
    <h1>SimNumber index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Number</th>
            <th>Price</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for sim_number in sim_numbers %}
            <tr>
                <td>{{ sim_number.id }}</td>
                <td>{{ sim_number.number }}</td>
                <td>{{ sim_number.price }}</td>
                <td>
                    <a href="{{ path('app_sim_number_show', {'id': sim_number.id}) }}">show</a>
                    <a href="{{ path('app_sim_number_edit', {'id': sim_number.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sim_number_new') }}">Create new</a>
{% endblock %}
