{% extends 'base.html.twig' %}

{% block title %}SimNumber{% endblock %}

{% block body %}
    <h1>SimNumber</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ sim_number.id }}</td>
        </tr>
        <tr>
            <th>Number</th>
            <td>{{ sim_number.number }}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>{{ sim_number.price }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_sim_number_index') }}">back to list</a>

    <a href="{{ path('app_sim_number_edit', {'id': sim_number.id}) }}">edit</a>

    {{ include('sim_number/_delete_form.html.twig') }}
{% endblock %}
